*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav
*.sh
encoder/saved_models/*
synthesizer/saved_models/*
vocoder/saved_models/*
/arun.bat
/synthesizer/g2p/attention/attention-bidi.jpg
/saved_models/rusmodel/plots/attention_step_24500_sample_1.png
/saved_models/default/encoder.pt
/saved_models/rusmodel/encoder.pt
/saved_models/rusmodel2/encoder.pt
/saved_models/encoder.txt
/synthesizer/g2p/attention/EN/MARGARIN.png
/synthesizer/g2p/attention/EN/PYTHON.png
/synthesizer/g2p/attention/EN/PYTORCH.png
/synthesizer/g2p/resources/EN/README.md
/synthesizer/g2p/resources/FA/README.md
/synthesizer/g2p/resources/RU/README.md
/synthesizer/g2p/resources/README.md
/synthesizer/g2p/attention/EN/RHINO.png
/synthesizer/g2p/attention/EN/SANDICA.png
/synthesizer/g2p/attention/EN/SINGER.png
/saved_models/rusmodel/plots/step-24500-mel-spectrogram_sample_1.png
/saved_models/default/synthesizer.pt
/saved_models/rusmodel/synthesizer.pt
/saved_models/rusmodel2/synthesizer.pt
/saved_models/tacotron2/tacotron2
/saved_models/default/vocoder.pt
/saved_models/rusmodel/vocoder.pt
/saved_models/rusmodel2/vocoder.pt
/saved_models/tacotron2/waveglow
/synthesizer/g2p/attention/RU/питон.png
/synthesizer/g2p/attention/FA/خواننده.png
/synthesizer/g2p/attention/FA/سندیکا.png
/synthesizer/g2p/attention/FA/مارگارین.png
/synthesizer/g2p/attention/FA/پایتورچ.png
/synthesizer/g2p/attention/FA/پایتون.png
/synthesizer/g2p/attention/FA/کرگدن.png
/saved_models/rusmodel3/synthesizer.pt
/saved_models/rusmodel4/metas/CharacterEmbeddings.tsv
/saved_models/rusmodel4/synthesizer.pt
