*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
_old
SV2TTS/encoder/saved_models/*_backups
tacotron2/logs-*
waveglow
torch-tacotron2
wave-rnn/model_outputs