# python3.7.x (6,7) confirmed
unidecode
inflect
tensorflow==1.15
numpy>=1.14.0
matplotlib>=2.0.2
librosa>=0.5.1
PySoundFile
multiprocess
webrtcvad
sounddevice



#umap-learn
#visdom
#webrtcvad-wheels
#scipy>=1.0.0
#tqdm
#PyQt5
#numba==0.48.0
'C:\Users\jakep\Music\Eliza Cassan\Eliza Cassan Clipped.wav'