# This is a list of recommended packages that also enables GPU support.
# You will also need the packages listed in requirements.txt

tensorflow-gpu==1.15   # Enables GPU support for synthesizer
webrtcvad              # Better noise reduction when processing audio files
