# python3.7 confirmed
tensorflow==1.15
umap-learn
visdom
webrtcvad-wheels
librosa>=0.5.1
matplotlib>=2.0.2
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
Unidecode
inflect
PyQt5
multiprocess
numba==0.48.0
unidecode
PySoundFile

# Fix for "This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem."
# sudo apt-get install libxkbcommon-x11-dev